
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HtmlHelpers</title>
</head>
<body>
    <div> 

        <h1>Html Helpers</h1>
        <p>Asp.Net Web Forms da hazır olarak sunulan bir çok kontrol yer almakta (asp:TextBox, asp:Button vb.) ve bu kontroller sürükle bırak şeklinde kullanılabilir. Benzer şekilde Asp.Net MVC tarafında da hazır kontrollere Html Helpers sınıfındaki <b> Extention Method </b>lar aracılığı ile ulaşabiliriz. Ayrıcı kendi Extention Method'larımızı yazarak projelerimizde kullanabiliriz.</p>


        <h3>Düz Html ile oluşturulmuş kontroller</h3>
        <label>Adınız</label><br />
        <input type="text" id="txtAd" name="txtAd" /><br />
        <label>Soyadınız</label><br />
        <input type="text" id="txtSoyad" name="txtSoyad" /><br /><br />
        <input type="button" value="Giriş" />
    </div>

</body>
</html>
