@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}


<style>

    .childBlock {
        width: 46%;
        display: block;
        margin: 10px;
        border: 2px dotted #8d1313;
        padding: 10px;
        float:left;
        height:200px;
    }

</style>

<div class="childBlock">
    @RenderBody()
</div>

<div class="childBlock">
    @* RenderSection Methodunun ikinci parametresi bool değer alır ve Bu sayfayı Layout olarak kullanacak sayfaların berlitilen Section'ı içermesini gerekli ( required ) veya isteğe bağlı ( optional ) olup olmuyacağını belirlememizi sağlar. Default değer true dur. Yani biz false olarak belirtmediğimiz sürece Bu sayfayı Layout olarak kullanan diğer sayfaların rightBlock isimli Section'ı içermesi zorunludur!!! *@
    @RenderSection("rightBlock",true)
</div>

<div style="clear:both"></div>

<div class="block">
    <h3> Buradaki Sayfa İç İçe ( Nested ) İki Layout İçerisinde Yer Almaktadır. </h3>
    <p>İlk olarak _MainLayoutPage.cshtml oluşturuldu daha sonra bu Main Layoutu kullanması için _ChildLayoutPage.cshtml oluşturuldu ve bu sayfanın Layoutu ( _ChildLayoutPage.cshtml ) olarak belirlendi olarak belirlendi</p>
</div>