

@* Partial View'ler bir veya birden fazla View'da tekrar eden işlerin tekrar tekrar yazılmasının önüne geçip tek bir çatı altında bu işleri ele almak ve işin yönetimi kolaylaştırmamızı sağlar. *@

<h3>Site Haritası</h3>

<ul>
    <li>
        <a href="~/Home/homePage">Ana Sayfa</a>
    </li>
    <li>
        <a href="~/Home/about">Hakkımızda</a>
    </li>
    <li>
        <a href="~/Home/References">Referanslar</a>
    </li>
    <li>
        <a href="~/Home/contact">İletişim</a>
    </li>
</ul>
