
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homePage</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div> 
        <h2>Home Page 1</h2>
        <hr />
    </div>

    @*<div>
        <input type="button" id="btnGonder" name="btnGonder" value="Gönder" class="btn btn-danger" />
        <br /><br />
        <a href="#" class="btn btn-success btn-lg">Sezer Ayran</a>
    </div>*@


    @*
        lg : large
        md : medium (desktop, laptop)
        sm : tablet
        xs : phone
    
    *@

    <div class="container-fluid"> @* container sınıfı sayfayı ortalar. container-fluid ise sayfayı yayar *@

        <div class="row">

            <div class="col-md-4 col-sm-5 col-xs-12">
                <h2>
                    Consectetur adipiscing elit fusce vel.
                </h2>

                Nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
                
                <hr />
            </div>

            <div class="col-md-4 col-sm-5 col-xs-12">
                <h2>
                    Consectetur adipiscing elit fusce vel.
                </h2>

                Nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.

                <hr />
            </div>

            <div class="col-md-4 col-sm-2 col-xs-12">
                <h2>
                    Consectetur adipiscing elit fusce vel.
                </h2>

                Nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.

                <hr />
            </div>
           

        </div>

    </div>
</body>
</html>
