@model Kisi

@{
    ViewBag.Title = "Kişi Düzenle";
}

<h2>Kişi Düzenle</h2>
<hr />

<div>

    @using (Html.BeginForm())
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtAd"> Ad </span>
            </div>
            @* Eklenen attribütelerde orta tire varsa farklı bir anlam yükleyecektir. Bunun önüne geçmek için orta tireler alt tire olarak yazılabilir. "aria-describedby" attribüte'ü gibi *@
            @Html.TextBoxFor(k => k.Ad, new { @class = "form-control", placeholder = "Ad", aria_describedby = "txtAd" })
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtSoyad"> Soyad </span>
            </div>
            @Html.TextBoxFor(k => k.Soyad, new { @class = "form-control", placeholder = "Soyad", aria_describedby = "txtSoyad" })
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtYas"> Yaş </span>
            </div>
            @Html.TextBoxFor(k => k.Yas, new { @class = "form-control", placeholder = "Yaş", aria_describedby = "txtYas" })
        </div>

        <div class="input-group mb-3">
            <input type="submit" value="Güncelle" class="btn btn-success" />
        </div>
    }

    <div class="input-group">

        <div class="alert alert-@ViewBag.Status" role="alert">
            @ViewBag.Result
        </div>

    </div>

</div>
