
@{ 
    Layout = "~/Views/Shared/_ChildLayoutPage.cshtml";
}

<h2>İletişim</h2>

<hr />

<p>Urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.</p>
<p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, placerat.</p>

