
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>tempDataDeneme</title>
</head>
<body>
    <div> 
        <h1>TempData Deneme Sayfası</h1>

        <div>
            <b>@TempData["username"]</b>
        </div>
    </div>
</body>
</html>
