@* Aşağıdaki Kisi nesnesine ulaşılması için Views klasörünün altındaki web.config dosyasına ilgili Namespace eklenmiştir. *@

@model IEnumerable<Kisi>

@{
    ViewBag.Title = "homePage";
}

<h2>Ana Sayfa</h2>

<ul>
    @foreach (Kisi kisi in Model)
    {
        <li>@(kisi.Ad + " " + kisi.Soyad)</li>
    }
</ul>
